.inp-box{
    width: 300px;
    display: block;
    margin: 1rem;
    height: 1.5rem;
    padding: .2rem;
    font-size: 1rem;

}
.main-box{
    margin-top: 100px;
    text-align: -webkit-center;
   
}
.btn{
    width: 300px;
    display: block;
    margin: 1rem;
    height: 2rem;
    padding: .2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: skyblue;
    color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 4px 8px 24px;
}